{% extends 'base.html' %}
    {% block header_text %}Табло рейсов{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 mb-2 mt-2">
            <b>Всего рейсов:</b>
            <span>{{ flights.count }}</span>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ search_form }}
        <input class="btn btn-outline-primary" type="submit" value="Поиск">
    </form>
    <table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Номер рейса</th>
            <th scope="col">Город вылета</th>
            <th scope="col">Город прилёта</th>
            <th scope="col">Тип самолёта</th>
            <th scope="col">Дата и Время вылета</th>
            <th scope="col">Дата и Время прибытия</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
        </tr>
    </thead>
    {% for flight in flights %}
        <tr>
            <td>{{ flight.number }}</td>
            <td>{{ flight.departure_city }}</td>
            <td>{{ flight.arrival_city }}</td>
            <td>{{ flight.plane_type }}</td>
            <td>{{ flight.planned_departure_time|date:"d.m.Y H:i" }} мск</td>
            <td>{{ flight.planned_arrival_time|date:"d.m.Y H:i" }} мск</td>
            <td>{{ flight.get_status_display }}</td>
            <td><a class="btn btn-sm text-muted" href="{% url 'flight:flight_edit' flight.id %}"
                        role="button">
                        Редактировать
                </a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
